{% extends 'base.html.twig' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Самокат - Тайный покупатель</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/favicon/site.webmanifest')}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="{{ asset('assets/css/sweetalert2.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/owl.theme.default.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />

{% endblock %}
{% block body %}
<div class="logo">
    <img src="{{ asset('assets/img/logo.png') }}">
</div>
<div class="top">
    <div class="main-image">
        <div class="top-text">
            <span class="top-text__title">
              Станьте Тайным покупателем!
            </span>
            <span class="top-text__description">
              Тайные покупатели помогают Самокату становиться лучше. Они рассказывают нам о нарушениях в сервисе и мы их исправляем. Дождитесь специального смс от Самоката, станьте тайным покупателем — и мы оплатим ваш заказ.
            </span>
        </div>
        <img src="{{ asset('assets/img/layer/05_layer.svg') }}" class="layer1">
        <img src="{{ asset('assets/img/layer/06_layer.svg') }}" class="layer2">
        <img src="{{ asset('assets/img/layer/06_layer_mobile.svg') }}" class="layer2-mobile">
        <img src="{{ asset('assets/img/layer/07_layer.svg')}}" class="layer3">
        <img src="{{ asset('assets/img/layer/07_layer_mobile.svg') }}" class="layer3-mobile">
        <img src="{{ asset('assets/img/layer/08_layer.svg') }}" class="layer4">
        <img src="{{ asset('assets/img/layer/10_layer.svg') }}" class="layer5">
        <img src="{{ asset('assets/img/layer/10_layer_mobile.svg') }}" class="layer5-mobile">
        <div class="glass">
            <img src="{{ asset('assets/img/grass.svg')}}">
        </div>
        <div class="scroll-down">
            Скролльте вниз
            <span class="scroll-arrow">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.35 20.49"><defs><style>.cls-1{fill:#fff;}</style></defs><title>1Artboard 2</title><polygon class="cls-1" points="12.35 6.17 6.17 0 0 6.17 4.99 6.17 4.99 20.48 7.36 20.48 7.36 6.17 12.35 6.17"/></svg>
              </span>
        </div>
        <div class="colors">
            <div class="red"></div>
            <div class="green"></div>
            <div class="blue"></div>
        </div>
    </div>
</div>

<div class="top-tablet">
    <div class="top-text__tablet">
            <span class="top-text__title">
                Станьте Тайным покупателем!
            </span>
        <span class="top-text__description">
                Тайные покупатели помогают Самокату становиться лучше. Они рассказывают нам о нарушениях в сервисе и мы
                их исправляем. Дождитесь специального смс от Самоката, станьте тайным покупателем — и мы оплатим ваш
                заказ.
            </span>
    </div>
    <img src="{{ asset('assets/img/layer/layer_tablet.svg') }}" class="layer-tablet">
    <div class="grass">
        <img src="{{ asset('assets/img/grass.svg') }}">
    </div>
</div>

<div class="text-mobile-wrapper">
    <div class="top-text-mobile">
        <span class="top-text__title">
          Станьте Тайным покупателем!
        </span>
        <span class="top-text__description">
          Тайные покупатели помогают Самокату становиться лучше. Они рассказывают нам о нарушениях в сервисе и мы их исправляем. Дождитесь специального смс от Самоката, станьте тайным покупателем — и мы оплатим ваш заказ.
        </span>
        <div class="glass-mobile">
            <img src="{{ asset('assets/img/grass.svg') }}">
        </div>
    </div>
</div>

<div class="row-pictures">
    <div class="row-pictures__wrapper">
        <div class="picture-1">
            <img src="{{ asset('assets/img/man.svg') }}">
            <p>Купите на 1000 ₽ или меньше и ждите курьера</p>
        </div>
        <div class="picture-2">
            <img src="{{ asset('assets/img/hand.svg') }}">
            <p>Сфотографируйте заказ и заполните <a href="#anketa">отчет</a></p>
        </div>
        <div class="picture-3">
            <img src="{{ asset('assets/img/dinner.svg') }}">
            <p>Вернем стоимость заказа скидкой на следующий</p>
        </div>
    </div>
</div>

<div class="slide-mobile">
    <div class="owl-carousel owl-theme">
        <div class="slide-1">
            <img src="{{ asset('assets/img/man.svg') }}">
            <p>Купите на 1000 ₽ или меньше и ждите курьера</p>
        </div>
        <div class="slide-2">
            <img src="{{ asset('assets/img/hand.svg') }}">
            <p>Сфотографируйте заказ и заполните <a href="#anketa">отчет</a></p>
        </div>
        <div class="slide-3">
            <img src="{{ asset('assets/img/dinner.svg') }}">
            <p>Вернем стоимость заказа скидкой на следующий</p>
        </div>
    </div>
</div>

<div class="tabs-container">
    <div class="tabs-wrapper">
        <div class="tabs-button">
            <a href="#instruction" class="tablinks active" data-tab="1">Инструкция</a>
            <a href="#anketa" class="tablinks" data-tab="2">Отчет</a>
        </div>
    </div>
    <div id="instruction" class="tab" data-tab="1">
        <ol class="list">
            <li>Купите в Самокате товары общей суммой до 1 000 ₽</li>
            <li>Сфотографируйте курьера и заказ</li>
            <li>Заполните <a href="#anketa">отчет</a></li>
        </ol>
        <p>После проверки отчета мы начислим в Самокате скидку, равную стоимости вашего заказа. Скидку начислим на номер телефона, с которого был сделан заказ.</p>
        <a href="#anketa" class="bg-button">Заполнить отчет</a>
    </div>
    <div id="anketa" class="tab" data-tab="2">
        <div class="form-wrapper">
            <p>Пожалуйста, заполните все поля — тогда мы примем отчет и начислим скидку.</p>
            <form action="" method="POST" class="form" class="form">
                <ol class="list">
                    <li class="list-input">
                        <label>Код-приглашение из СМС
                            <input type="text" id="sms" name="sms" required>
                        </label>
                    </li>
                    <li class="list-input">
                        <label>Номер заказа
                            <input type="text" id="order" name="order" minlength="6" maxlength="6" required>
                        </label>
                    </li>
                    <li class="list-input">
                        <label>ФИО
                            <input type="text" id="fio" name="fio" minlength="2" required>
                        </label>
                    </li>
                    <li class="list-input">
                        <label>Телефон
                            <input type="tel" id="phone" name="phone" minlength="16" maxlength="16" required>
                        </label>
                    </li>
                </ol>
                <p class="form-title">О курьере</p>
                <ol class="list4">
                    <li class="list-select">
                        <label>Курьер приехал в заявленное время?</label>
                        <div class="select">
                            <select name="time" required>
                                <option value=""></option>
                                <option value="1">Да</option>
                                <option value="2">Опоздал менее, чем на 15 минут</option>
                                <option value="3">Опоздал менее, чем на 30 минут</option>
                                <option value="4">Опоздал менее, чем на 45 минут</option>
                                <option value="5">Опоздал менее, чем на 60 минут</option>
                                <option value="6">Опоздал менее, чем на 90 минут</option>
                                <option value="7">Опоздал менее, чем на 180 минут</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-file">
                        <label>Приложите фото курьера
                            <input type="file" id="inputFile1" class="inputfile" name="inputFile[]" data-for="file-1" multiple required>
                            <span id="file-1" class="download-file"></span>
                            <span class="file-name">Прикрепить файл</span>
                        </label>
                    </li>
                    <li class="list-select">
                        <label>Курьер был в спец одежде?</label>
                        <div class="select">
                            <select name="spec" required>
                                <option value=""></option>
                                <option value="1">был в фирменном плаще</option>
                                <option value="2">был в фирменной жилетке</option>
                                <option value="3">был с фирменным рюкзаком</option>
                                <option value="4">был без спец одежды</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-select">
                        <label>Курьер был в маске?</label>
                        <div class="select">
                            <select name="mask" required>
                                <option value=""></option>
                                <option value="1">Да</option>
                                <option value="2">Нет</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-select">
                        <label>Курьер передал заказ бесконтактно?</label>
                        <div class="select">
                            <select name="wContact" required>
                                <option value=""></option>
                                <option value="1">Да</option>
                                <option value="2">Нет</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-select">
                        <label>Курьер попросил расписаться и завершил заказ при вас?</label>
                        <div class="select" id="painting">
                            <select name="painting" required>
                                <option value=""></option>
                                <option value="1">завершил при мне</option>
                                <option value="2">завершил при мне, не расписывался</option>
                                <option value="3">попросил закрыть раньше, чем принес</option>
                                <option value="text">не смог выяснить (указать причину)</option>
                            </select>
                            <label><textarea id="milkText" name="milkText" cols="30" rows="6"></textarea></label>
                        </div>
                    </li>
                </ol>
                <p class="form-title">О заказе</p>
                <ol class="list9">
                    <li class="list-input">
                        <label>Приложите фото пакетов с товаром
                            <input type="file" id="inputFile2" class="inputfile" name="inputFile2[]" data-for="file-2" multiple required>
                            <span id="file-2" class="download-file"></span>
                            <span class="file-name">Прикрепить файл</span>
                        </label>
                    </li>
                    <li class="list-select">
                        <label>Упаковка товаров не деформирована</label>
                        <div class="select" id="product">
                            <select name="product" required>
                                <option value=""></option>
                                <option value="1">Все ок</option>
                                <option value="file">Деформирована (прикладываем фото)</option>
                            </select>
                            <label>
                                <input type="file" id="inputFile3" class="inputfile" name="inputFile3[]" data-for="file-3" multiple>
                                <span id="file-3" class="download-file"></span>
                                <span class="file-name">Прикрепить файл</span>
                            </label>
                        </div>
                    </li>
                    <li class="list-select">
                        <label>Сроки годности продуктов</label>
                        <div class="select">
                            <select name="shelf" required>
                                <option value=""></option>
                                <option value="1">Товар был просрочен</option>
                                <option value="2">Сроки годности ок</option>
                                <option value="3">Почти истек ср. год-ти, но предупредили об этом</option>
                                <option value="4">Почти истек ср. год-ти, но НЕ предупредили об этом</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-select">
                        <label>Овощи / фрукты</label>
                        <div class="select" id="frukt">
                            <select name="frukt" required>
                                <option value=""></option>
                                <option value="1">Качество идеально</option>
                                <option value="file">Есть небольшие недочеты (приложите фото)</option>
                                <option value="file">Большие проблемы с качеством (приложите фото)</option>
                            </select>
                            <label>
                                <input type="file" id="inputFile4" class="inputfile" name="inputFile4[]" data-for="file-4" multiple>
                                <span id="file-4" class="download-file"></span>
                                <span class="file-name">Прикрепить файл</span>
                            </label>
                        </div>
                    </li>
                    <li class="list-select">
                        <label>Молочные продукты / сыры / яйца</label>
                        <div class="select" id="milk">
                            <select name="milk" required>
                                <option value=""></option>
                                <option value="1">Вкус был на высоте</option>
                                <option value="file">Что-то не понравилось (опишите что, приложите фото)</option>
                                <option value="text">Большие проблемы с качеством (расскажите подробнее)</option>
                            </select>
                            <label><textarea id="milkText" name="milkText" cols="30" rows="6"></textarea></label>
                            <label>
                                <input type="file" id="inputFile5" class="inputfile" name="inputFile5[]" data-for="file-5" multiple>
                                <span id="file-5" class="download-file"></span>
                                <span class="file-name">Прикрепить файл</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <label for="">Расскажите, что понравилось
                            <textarea id="commentLike" name="commentLike" cols="30" rows="6"></textarea>
                        </label>
                    </li>
                    <li>
                        <label for="">Расскажите, что не понравилось
                            <textarea id="commentNotLike" name="commentNotLike" cols="30" rows="6"></textarea>
                        </label>
                    </li>
                    <li>
                        <label>Другие комментарии
                            <textarea id="comment" name="comment" cols="30" rows="6"></textarea>
                        </label>
                    </li>
                </ol>
                <div class="checkbox">
                    <input id="agree" name="agree" class="checkox__input" type="checkbox" required checked>
                    <label for="agree" class="checkbox__label"><span>Я согласен с <a href="https://samokat.ru/privacy" target="_blank" class="politics">политикой</a> конфиденциальности</span></label>
                </div>
                <input type="submit" value="Отправить отчет" class="submit">
            </form>
        </div>
        <p class="text-after-form">Я даю ООО «Самокат», своё согласие на обработку моих персональных данных в соответствии с Федеральным Законом от 27.07.2006 года № 152-ФЗ «О персональных данных» на условиях и для целей, определенных в этой заявке и в <a href="https://samokat.ru/privacy" target="_blank" class="politics">Политике конфиденциальности</a>, ознакомление с текстом которой я подтверждаю, в течение срока, необходимого для достижения указанных целей и 5 лет после их достижения.</p>
    </div>
</div>

<div class="agree">
    <h1>Спасибо,<br>вы великолепны!</h1>
    <p>Мы проверим отчет за 3 дня или раньше. После начислим стоимость вашего заказа скидкой на номер телефона в Самокате.</p>
</div>

<div class="progress">
    <span class="progress__title">Дождитесь загрузки фото...</span>
    <div class="progress__fon">
        <div class="progress__bar"></div>
    </div>
</div>

<script src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ asset('assets/js/gsap.min.js') }}"></script>
<script src="{{ asset('assets/js/ScrollMagic.min.js') }}"></script>
<script src="{{ asset('assets/js/animation.gsap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/js/sweetalert2.all.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.inputmask.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/js/mobile-detect.min.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
